numpy==1.26.4
pandas
scipy
# Install CUDA-enabled TensorFlow for GPU (T4) support on Python 3.11
tensorflow[and-cuda]==2.16.1
scikit-learn
deap
Pillow
jupyter
ipykernel
kagglehub
tqdm
matplotlib
seaborn
psutil
setuptools
# Needed because the notebook trains XGBoost
xgboost
